#mySketch {
  width: 50em; /*800px coverted to em*/
  height: 15.625em; /*250px coverted to em*/
}

body {
  background-image: url(images/background.jpg)
}

main {
  display: grid;
  grid-template-columns: 1fr .025fr 1fr .025fr 1fr;
  grid-template-rows: 1fr 1.1fr;
  max-width: 80vw;
  margin: auto;
  background-color: #0E0E0E;
}

header {
  grid-row: 1;
  grid-column: 1 / 6;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 500;
  background-color: #F9F7F5;
  padding: 1em;
  margin: 2em;
}

section {
  padding-left: 1em;
  padding-top: .5em;
  margin-top: 1em;
  margin-right: 2em;
  margin-left: 2em;
  background-color: #F9F7F5;
}

.first-column {
  grid-row: 2;
  grid-column: 1 / 2;
}

.second-column {
  grid-row: 2;
  grid-column: 3 / 4;
}

.third-column {
  grid-row: 2;
  grid-column: 5 / 6;
}

.chair {
  margin-top: 2.5em;
}

section a {
  display: block;
  background-color: #ed6666;
  font-size: 1.025em;
  padding: .5em 1em;
  margin-right: 1em;
  margin-bottom: .25em;
}

section h2 {
  font-weight: 600;
  font-size: 1.5em;
  padding-left: .5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #c20000;
}

footer {
  grid-row: 3;
  grid-column: 1 / 6;
  padding: 1em;
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  text-align: center;
  background-color: #F9F7F5;
}

section a:hover {
  background-color: #FFFFFF;
}

footer a {
  padding: .25em;
  margin: 1em;
}

footer a:hover {
  background-color: #ed6666;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  line-height: 1.5em;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
