body {
    background-image: url(images/background.jpg);
    max-width: 1920px;
    max-height: 1080px;
}

form {
    float: left;
    width: 30%;
    margin-left: 2em;
    margin-top: 2em;
}

h1, h2, h3 {
    color: #FFFFFF;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    
}

h1 {
    font-size: 175px;
    line-height: 10%;
    font-weight: 900;
}

h2 {
    font-size: 75px;
    line-height: 5%;
    font-weight: 700;
}

h3 {
    font-size: 36px;
    font-weight: 500;
    
}

label {
    font-family: 'Roboto' , sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
}

input {
    display: block; 
    margin-bottom: 48px;
    font-size: 24px;
    width: 95%;
}

.invisible { 
    display: none;
    transition: all 2s;
}

.visible {
    display: block;
    position: absolute;
    top: 455px;
    left: 500px;
    width: 500px;
    padding: 20px;
    color: #fff;
    background-color: rgba(10, 10, 10, 100);
    font-family: 'Roboto' , sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5em;
    transition: all 2s;
}

footer {
    padding: 1em;
    margin-top: 2em;
    text-align: center;
    background-color: #F9F7F5;
  }
  
  footer a {
      padding-right: .25em;
      margin-right: 1em;
    }
    
    footer a:hover {
      background-color: #ed6666;
      color: #FFFFFF;
    }
    
    a {
      text-decoration: none;
      line-height: 1.5em;
      font-weight: 500;
      font-family: 'Roboto', sans-serif;
      color: #000000;
      padding: .5em;
    }