body {
    background-image: url(images/background.jpg)
  }

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 70vw;
    background-color: #0E0E0E;
    padding: 2em;
}

h1, p {
    color: #ffffff;
}

h1 {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 500;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.25em;
}
